
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DepositManage</title>
</head>
<body>
    <div> 
        입금관리

    </div>
</body>
</html>
