@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("회원정보관리", "MemberManage")
        @Html.ActionLink("상품관리", "ProdManage")
        @Html.ActionLink("입금관리", "DepositManage")
    </div>
</body>
</html>
