
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberManage</title>
</head>
<body>
    <div>
        @Html.ActionLink("가입관리", "Approval")
        @Html.ActionLink("탈퇴관리", "Secession")
    </div>
</body>
</html>
