
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <div>
        상품 결제 페이지 !! <br />
        결제 가즈아 !!!!<br />

        @Html.ActionLink("홈", "Index")
        @Html.ActionLink("사용자계정", "UserAccount")

    </div>
</body>
</html>
