
@{
    Layout = null;
}
<!DOCTYPE html>
<html> 
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Regist OK</title>
    </head>
    <body>
        <p>@ViewBag.theTitle 등록 성공 완료</p>
        <a href="@Url.Action("", "")">Home</a>
    </body>
</html>
